<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjx.demo.dao.SqlAnalysisDao">
    <insert id="insert" parameterType="com.xjx.demo.entity.SysSqlAnalysis">
        INSERT INTO tbl_sqls(all_parameter,useful_parameter,type,mapper,init_sqls,final_sqls,analysis)
        VALUES (#{allParameter},#{usefulParameter},#{type},#{mapper},#{initSqls},#{finalSqls},#{analysis})
    </insert>

    <select id="getAll" resultType="com.xjx.demo.entity.SysSqlAnalysis">
        SELECT * FROM tbl_sqls
    </select>
</mapper>